<section class="bg-oil-100 mb-6">
    <p class="text-obsidian uppercase text-center text-4xl p-4">L'AZIENDA</p>
    <div class="flex flex-wrap-reverse h-full justify-around items-center">
        <p class="text-3xl text-obsidian w-full md:w-1/2 text-justify p-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
        </p>
        <div class="w-full h-full flex justify-center items-center p-14 md:w-1/2">
            <img src="../../../assets/img/worker.jpg" alt="" class="border-4 border-slate-200 rounded-md">
        </div>
    </div>
</section>
