:root {
    --obsidian: #0B1215;

    --oil-50:  #8e7f4f;
    --oil-100: #7a6743;
    --oil-200: #63532f;
    --oil-300: #5c4f2b;
    --oil-400: #554b27;
    --oil-500: #4e4723;
    --oil-600: #47431f;
    --oil-700: #403f1b;
    --oil-800: #393b17;
    --oil-900: #323613;
}