:root {
    --obsidian: theme(colors.obsidian);

    --oil-50:  theme(colors.oil.50);
    --oil-100: theme(colors.oil.100);
    --oil-200: theme(colors.oil.200);
    --oil-300: theme(colors.oil.300);
    --oil-400: theme(colors.oil.400);
    --oil-500: theme(colors.oil.500);
    --oil-600: theme(colors.oil.600);
    --oil-700: theme(colors.oil.700);
    --oil-800: theme(colors.oil.800);
    --oil-900: theme(colors.oil.900);
}