<div #carouselRef id="default-carousel" class="relative carousel mt-20" data-carousel="static">
  <!-- Carousel wrapper -->
  <div class="relative overflow-hidden h-full">
    <ng-container *ngFor="let item of carouselImage">
      <div #carouselItem class="hidden duration-700 ease-in-out img blur-[2px]" [style.background-image]="'url('+item.URL+')'"  data-carousel-item></div>
    </ng-container>
  </div>
  <!-- photo overlay -->
  <div class="absolute top-0 z-30 bg-[#ffffff30] carousel w-full"></div>
  <!-- Slider controls -->
  <button type="button"
    class="absolute top-0 start-0 z-50 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev>
    <i data-feather="chevron-left" class="w-20 h-20 text-oil-900 text-3xl"></i>
    <span class="sr-only">Previous</span>
  </button>

  <button type="button"
    class="absolute top-0 end-0 z-50 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next>
    <i data-feather="chevron-right" class="w-20 h-20 text-oil-900"></i>
    <span class="sr-only">Next</span>
  </button>

  <!-- main section -->
  <main class="absolute w-full h-full top-0 z-40">
    <div class="flex gap-4 justify-center mb-28 mt-5">
      <img src="../../../assets/img/certificazioni/Logo_it_IGP_4c.svg" alt="IGP LOGO" class="h-24">
      <img src="../../../assets/img/certificazioni/Organic-Logo.svg" alt="BIO LOGO" class="h-24 w-24 rounded-full">
    </div>

    <div class="flex justify-center items-center mb-28">
      <p id="slogan" class="text-[#262626] text-5xl text-center font-bold rounded-[50px] w-1/2 h-32 py-4 bg-[#ffffff50] bg-opacity-60">Lorem ipsum
        dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="flex justify-center items-center">
      <button type="button" class="bg-oil-900 rounded-3xl text-white p-6 text-3xl">I nostri prodotti</button>
    </div>

  </main>
</div>
