.carousel{
    height: calc(100vh - 80px); //navbaer height

    .img1{
        background-image: url("../../../assets/img/uliveto.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    .img2{
        background-image: url("../../../assets/img/uliveto2.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
    }

}

main{

    @media (max-width: 1370px){
        // certificazioni
        div:first-child > img{
            width: 5rem;
            height: 5rem;
        }

        #slogan {
            font-size: 2rem;
            height: 6rem;
        }
    }

    @media (max-width: 915px){
        #slogan {
            font-size: 1.7rem;
            min-width: 320px;
            height: 7.6rem;
        }
    }
}