<div #carouselRef id="default-carousel" class="relative carousel" data-carousel="static">
  <!-- Carousel wrapper -->
  <div class="relative overflow-hidden h-full">
    <!-- Item 1 -->
    <div #itemZeroRef class="hidden duration-700 ease-in-out img1" data-carousel-item>
      <!-- <img src="../../../assets/img/uliveto.png"
        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="..."> -->
    </div>
    <!-- Item 2 -->
    <div #itemOneRef class="hidden duration-700 ease-in-out img2" data-carousel-item>
      <!-- <img src="../../../assets/img/uliveto2.jpeg"
        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="..."> -->
    </div>
    <!-- Item 3 -->
    <div #itemTwoRef class="hidden duration-700 ease-in-out img1" data-carousel-item>
      <!-- <img src="../../../assets/img/uliveto.png"
        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="..."> -->
    </div>
    <!-- Item 4 -->
    <div #itemThreeRef class="hidden duration-700 ease-in-out img2" data-carousel-item>
      <!-- <img src="../../../assets/img/uliveto2.jpeg"
        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="..."> -->
    </div>
    <!-- Item 5 -->
    <div #itemFourRef class="hidden duration-700 ease-in-out img1" data-carousel-item>
      <!-- <img src="../../../assets/img/uliveto.png"
        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="..."> -->
    </div>

  </div>
  <!-- photo overlay -->
  <div class="absolute top-0 z-30 bg-[#ffffff26] carousel w-full"></div>
  <!-- Slider controls -->
  <button type="button"
    class="absolute top-0 start-0 z-50 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev>
    <i data-feather="chevron-left" class="w-20 h-20 text-[#323613] text-3xl"></i>
    <span class="sr-only">Previous</span>
  </button>

  <button type="button"
    class="absolute top-0 end-0 z-50 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next>
    <i data-feather="chevron-right" class="w-20 h-20 text-[#323613]"></i>
    <span class="sr-only">Next</span>
  </button>

  <!-- main section -->
  <main class="absolute w-full h-full top-0 z-40">
    <div class="flex gap-4 justify-center mb-28 mt-5">
      <img src="../../../assets/img/certificazioni/Logo_it_IGP_4c.svg" alt="IGP LOGO" class="h-24">
      <img src="../../../assets/img/certificazioni/Organic-Logo.svg" alt="BIO LOGO" class="h-24 w-24 rounded-full">
    </div>

    <div class="flex justify-center items-center mb-28">
      <p id="slogan" class="text-[#262626] bg-[#ffffff26] text-5xl text-center font-bold rounded-[50px] w-1/2 h-32 py-4">Lorem ipsum
        dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="flex justify-center items-center">
      <button type="button" class="bg-[#323613] w-1/4 h-24 rounded-3xl text-white text-5xl">I nostri prodotti</button>
    </div>

  </main>
</div>
