section {
    min-height: 100vh;
    height: max-content;

    @media (max-width: 640px) {
        div#bottles{
            gap: 2rem 7rem !important;
            margin: 4%;
            align-items: stretch;
            
            & > div{
                box-sizing: border-box;
                flex: 1;
                width: fit-content;
            }
        }
    }
}